/* #app 중앙 정렬 */
#app {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px;
  margin: 100px auto;
}

/* input+button 가로 */
.search-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1rem;
  align-items: center;
}

/* input */
.search-container input {
  flex: 1;
  padding: 0.5rem;
  height: 2rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* button */
.search-container button {
  padding: 0 1rem;
  height: 2rem;
  border-radius: 6px;
  border: none;
  background-color: #4facfe;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #00f2fe;
}
